body {
  margin: 30px;
  font-family: Arial, sans-serif;
}
.accordion {
  width: 520px;
  user-select: none;
}
.accordion-header {
  background: black;
  color: white;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
}
.accordion-header:hover {
  background-color: #2e2c2c;
}
.arrow {
  filter: invert(1);
  width: 18px;
  height: 20px;
}
.accordion-container {
  display: none;
  margin: 10px 0;
  border: 2px solid black;
  border-radius: 10px;
  padding: 9px;
  line-height: 26.5px;
}
.accordion-container.show {
  display: block;
  max-height: 200px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(1, 88, 163) rgb(255, 255, 255);
}
